    <h1>Autor de <%= title %></h1>
    <p>Enrique Pereda ha creado este portal</p>
    <div><img width="150" height="120" src="https://lh3.googleusercontent.com/-Esiq8js9EbA/AAAAAAAAAAI/AAAAAAAAAD4/Um8lkcprn_s/s120-c/photo.jpg"></div>
    <div><iframe width="150" height="120" src="https://www.youtube.com/embed/DIFeVHHiLOs" frameborder="0" allowfullscreen></iframe></div>